@font-face {
    font-family: "Main";
    src: local("Wotfard"), url(../lib/Wotfard/Wotfard-Regular.ttf);
}

@font-face {
    font-family: "Main";
    src: local("Epilogue"), url(../lib/Epilogue/Epilogue-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: "Code";
    src: url(../lib/Fira/FiraCode-Regular.ttf);
}

@font-face {
    font-family: "Head";
    src: url(../lib/Rakkas/Rakkas-Regular.ttf);
}