@font-face {
    font-family: "Main";
    src: local("Wotfard"), url(../lib/Wotfard/Wotfard-Regular.ttf);
}

@font-face {
    font-family: "Main";
    src: local("Epilogue"), url(../lib/Epilogue/Epilogue-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: "Head";
    src: url(../lib/Rakkas/Rakkas-Regular.ttf);
}

@font-face {
    font-family: "Ioskeley Mono";
    src: url(../lib/IoskeleyMono/WOFF2/IoskeleyMono-Regular.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Ioskeley Mono";
    src: url(../lib/IoskeleyMono/WOFF2/IoskeleyMono-Bold.woff2) format("woff2");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Ioskeley Mono";
    src: url(../lib/IoskeleyMono/WOFF2/IoskeleyMono-Italic.woff2) format("woff2");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Ioskeley Mono";
    src: url(../lib/IoskeleyMono/WOFF2/IoskeleyMono-BoldItalic.woff2) format("woff2");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Arvo";
    src: url(../lib/Arvo/Arvo-Regular.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Arvo";
    src: url(../lib/Arvo/Arvo-Bold.ttf) format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Arvo";
    src: url(../lib/Arvo/Arvo-Italic.ttf) format("truetype");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Arvo";
    src: url(../lib/Arvo/Arvo-BoldItalic.ttf) format("truetype");
    font-weight: bold;
    font-style: italic;
}
