@font-face
  font-style: normal
  font-family: "Meslo LG"
  src: local("Meslo LG S"), url("../lib/meslo-LG/MesloLGS-Regular.ttf") format("truetype")

@font-face
  font-family: PragmataPro
  src: url("../lib/PragmataPro-Liga/PragmataPro_Liga_0828.ttf") format("truetype")