<div id='valine'>
    <script src='//unpkg.com/valine/dist/Valine.min.js'></script>
    <div id="vcomments"></div>
    <script>
        new Valine({
            el: '#vcomments',
            appId: '7zw6tQBddCfPvbaVtBGxUy0G-gzGzoHsz',
            appKey: 'voPGHhBz7MozpUm0Fq2AMFmv',
            placeholder: '想说点啥...',
            avatar: 'monsterid',                       
        })
    </script>
</div>

<style>
    #valine {
        margin-top: 3rem;
    }
</style>