.post-list
  padding: 0

  .post-item
    margin-bottom: 1rem
    margin-left: 0
    list-style-type: none
    line-height: 2

    .meta
      display: block
      margin-right: 16px
      min-width: 100px
      color: $color-meta
      font-size: 0.9rem
    
    .post-mark-list
      display: inline-block

      .post-mark-item
        height: 1.2rem
        padding: 0
        font-size: 0.7rem
        font-weight: bold
        display: inline-block
        color: $color-accent-2
        padding-left: 5px
        padding-right: 5px                
        border-radius: 2px

      .red
        background-color: #AF4034      

      .blue
        background-color: #0277BD

      .green
        background-color: #689F38
        
      .gray
        background-color: #616161
      

@media (min-width: 480px)
  .post-list
    .post-item
      display: flex
      margin-bottom: 5px
      font-size: 1rem

      .meta
        text-align: left

.project-list
  padding: 0
  list-style: none

  .project-item
    margin-bottom: 5px
    p
      display: inline

#writing
  .h1
    font-size: 1.4rem