
#valine
  margin-top: 2rem

  #vcomments
    .vsys
      background-color: #242527 !important
      color: #555 !important

    .vwrap
      border: 1px solid $color-comment-border !important

      .vheader .vinput
        border-bottom: 1px dashed $color-comment-border !important

      .vbtn
        border-color: $color-comment-border !important
        background: none !important
        color: $color-border !important

      .vbtn:hover
        border-color: $color-quote !important
        color: $color-quote !important

    .vlist
        .vh
            border-bottom-color: $color-comment-border !important

            .vcontent a
                background-image: linear-gradient(transparent, transparent 5px, $color-comment-border, 5px, $color-comment-border) !important

            .vcontent a:hover
                color: $color-accent-1 !important

        .vquote
            border-left-color: $color-comment-border !important
